* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* disini kita akab berlatih dgn property yg ada di border apa saja?
  sbb:
*/
.box {
  background: #fff;
  max-width: 400px;
  margin: 20px;
  padding: 20px;
  /* utk shorthand kita biasa sprti ini utk seting proeprty 
     border 
  */
    border:1px solid black;

   /* utk gasih  satu2 
    width  style  border-style dan border-color 
      same asa above tapi ditulis 1 1 
   */
   /* border-width: 2px;
   border-style: dashed;
   border-color: red; */

}

/* utk ngasik 1 sisi maka dia ditulis terpisah2 
   sbb:
*/
.box-1 {
  border:none; /* tidak ada border*/
  /* disini top dan bottom saja kasih line dan berwarna */
  border-top: solid blue 4px;
  border-bottom:solid red 6px;
}

.box-2 {
  border:1px solid black ;

  /* border-radius gak bisa shorthan sendiri  */
  border-radius: 10px;
}

.box-3 {
  /* utk buat border-radius 1 sisi berikut  */
  border-top-left-radius: 20px;
  border-top-right-radius: 10px;
}