* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  background: coral;
  height: 100vh;/*   
   srtinya:ini tinggi 50% dari tinggi layar
   nah arah dari top ->ke bottom
  */
   /* width:50vw; */
   /* utk lebaradari atas ke bawah hanya 50 persen saja  */
}
/* .container h1 {
  font-size: 7vw;
} */
.container p {
  font-size: 4vw;
}
/* demikian juga utk  p bisa dibuat vw misalkan font-size:4w */

