html {
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding:20px;
  border:1px solid black;
  /* nah pada container dia fontSize =20px */
  font-size: 20px;
  
}
p {
  font-size: 2em; 
}
/* nah case diatas font-sixe = 40px bukan 32 karena ikut parent drect 
bukan parent root krena kita gunakan em jadi acuan parent direct
makanya banyak orang jarang gunakan em !
*/