* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: coral;
}

h2 {
  margin-bottom: 20px;
}

.header {
  background: coral;
  padding: 40px;
}

.main-menu {
  display: flex;
  gap: 20px;
  padding: 20px;
  background: #f4f4f4;
}

.main-menu a {
  font-size: 20px;
}

.main {
  display: flex;
  gap: 70px;
  padding: 40px;
}

.main section {
  flex: 1; /* Take up remaining space */
}

.main aside {
  width: 300px;
}

.main aside h3 {
  padding: 10px;
  background: coral;
  color: #fff;
}

.main aside li {
  padding: 10px;
  background: #f4f4f4;
  border-bottom: 1px solid #ccc;
}

/*
kit aakan gunaka media queris akan slalu kita mualai dgn max-width dari desktop
nah waktu mengwxil nnti kita buat dia orientasi dari flex yg awal mula row menjadi column 
bisa dgn block tapi jangan karena kita sudah flex!

nah caranya utk mnuat itu adalah mana containernya yg jadi container flex mana yg item 
nah yg container yg row jadi cloumn jika nnt sentuh patokan misal muali dari tablet !
*/
@media screen and (max-width:768px) {
  /* styling dirubah disini  */
  .header {
    font-size: 10px;
    text-align: center;
  }
  .main-menu {
  flex-direction: column;
  align-items: center;
    
  }
  .main-menu li {
    display: flex;
    /* border-bottom: 1px solid #aaa; */
    width: 100%;
    justify-content: center;
  }
  
 
   .main {
    flex-direction: column-reverse;
  }
  .main aside  {
    width: 100%;

  }
 .main aside li {
  text-align: center;
 }
/*  karena ada specifity dari yg seblumny ayatiu 
    .main aside li {
     ...
  border-bottom: 1px solid #ccc;
  maka paling tidak harus ada  root wrapper misal 
  aside li.last-li 
  atau smuanya root2nya ditulis!! 
  .main aside li.last-li  ini wajib! 
}

*/
 aside li.last-li {
   /* font-size: 35px; */
   border-bottom: none
 }
 .main section h2 {
  text-align: center;
 }
 .main section p {
  text-align: justify;
 }
}