* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 18px;

}
p{
  padding: 2rem;

}
main {
  /* smntra sblum ada <aside kita pakai max-width 
     tapi stlah ada temanya dalam 1 flex maka kita beri 
     width 100% 
     pemberian container-type property adalah salah satu 
     declare utk container queries! 
  */
  container-type: inline-size; /* kalau ada kawan maka kita pakai inline-size   */
  width: 100%;
  margin: 30px auto;
  padding: 20px;
}

main p {
  background: lightgreen;
 
}

/* kita buat container max-width berapa 
dan element mana tadi yg diseting utk pengaruh dari container tsb
(dalam hal ini element anak dari cntainer tsb


*/

/* stlah ini kuta buat yg asize dab buat itu body dgn flex bagi 2  kri kanan  */
aside {
  /* grownya 0 shrin 0 dan besaran ocupied 30% dari flex */
  container-type: inline-size;
  container-name: aside;
  flex:0 0 30%;
  background: #f4f4f4;
  padding:20px;


}


@container (max-width:900px) {
  main p {
    background: blue;
    color:white
  }
}

/* container aside  */
@container aside (max-width :300px) {
  aside p {
    background: lightgreen;
  }
}